<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route-Sample Controller</title>
    <%= stylesheet_link_tag "sample" %>
</head>
<body>
    <div class="sample">
      <h1>Instructor: Prashanth</h1>
      <h2>Session: Ruby on rails</h2>
      <h3>Company: Hero Vired</h3>
      <h4>Goal1: Try creating new controller and new route</h4>
      <h4>Goal2: Create movies upload page using scaffolding  </h4>
    </div>
</body>
</html>